<%= div_for question, class: 'col-md-10' do %>
  <h3><%= question.question_text %></h3>
  <p>
     <%= link_to "Edit", edit_question_path(question) %>
     <%= link_to "Destroy", question_path(question), method: :delete %>
  </p>

<% end %>
