<a href="/admins" class="btn btn-primary btn-lg">Back to Panel</a>
<a href="/questions/new" class="btn btn-primary btn-lg">Add A New Question</a>
<p><h3>Current Application Questions</h3></p>

<div class='row'>
  <% @questions.each do |question| %>
  <%= render question %>
  <% end %>
</div>
