<div align="center">
  <h2>Choose Your Question Type!</h2>
  <br>
  <div class="radio">
    <h3><a href="/questions_new_closed" class="btn btn-primary btn-lg">Closed Question</a></h3> <div> <div class="radio disabled">
      
  </div>
  <br>
      <h3><a href="/questions_new_open" class="btn btn-primary btn-lg">Open Ended Question</a></h3>
      </div>
    </div>
</div>
