<div class='col-md-8 col-md-offset-2'>
  <%= render 'form' %>
</div>

<div class="radio">
  <label><input type="radio" name="optradio">Yes</label>
</div>
<div class="radio">
  <label><input type="radio" name="optradio">No</label>
</div>
