<h3>Hey <%= @user.name %></h3>
<h4 align="center"> Welcome to SVP! </h4>
<p>
    Please fill out the application at this <%= link_to "link", @url %>
</p>
<p>Thanks for joining and have a great day!</p>
