<table style="width:100%">
  <tr>
    <% @questions.each do |q| %>
      <th><%= q.question_text %></th>
          <% end %>
  </tr>
    <% @applicants.each do |applicant| %>
      <tr>
        <td><%= applicant.id %></td>
        <td><%= applicant.answers.first.answer_text %></td>
      </tr>
    <% end %>
</table>
