<center><h1>Add/Remove SuperAdmin</h1></center>
<center><br><h3><% @admins.each do |admin| %></h3></br></center>
<div class="row">
<div class="col-md-4 well">
  <ul class="list-unstyled">
  <p> <%= admin.email %>
    <% if !admin.super_admin %>
      <br><br><%= link_to "Make SuperAdmin", "/admins/#{admin.id}", class: "btn btn-primary", method: :patch%></br>
    <% else %>
      <br><br><%= link_to "Remove SuperAdmin", "/admins/#{admin.id}", class: "btn btn-primary", method: :patch%></br>
    <% end %>
  </p>
</div>
</div>
</ul>
<% end %>
<br>
<a href="/admins" class="btn btn-primary btn-lg">Back to Panel</a>
