<h1>Add/Remove SuperAdmin</h1>
<h4>All Admins</h4>

<% @admins.each do |admin| %>
  <p> <%= admin.email %>
    <% if !admin.super_admin %>
      <%= link_to "Add SuperAdmin", "/admins/#{admin.id}/update", method: :patch%>
    <% else %>
      <%= link_to "Remove SuperAdmin", "/admins/#{admin.id}/update", method: :patch%>
    <% end %>
  </p>
<% end %>
