<h2> Welcome to the admin panel!!!</h2>

<p><a href="/admins/my_ratings" class="btn btn-primary btn-lg">My Ratings</a></p>

<% if @super_admin %>
  <p><a href="/admins/all_ratings" class="btn btn-primary btn-lg">View All Ratings</a></p>
  <p><a href="/questions" class="btn btn-primary btn-lg">Edit Application</a></p>
  <p><a href="/admins/add_super_admin" class="btn btn-primary btn-lg">Add/Remove SuperAdmin</a></p>
<% end %>




<h4>The sortable list will be here.</h4>
