<h2> Admin Panel </h2>

<% if @super_admin %>
        <a href="/questions" class="btn btn-primary btn-lg">Edit Fast Pitch Application</a>
        <a href="/admins/add_super_admin" class="btn btn-primary btn-lg">Add/Remove SuperAdmin</a></p>
<% end %>




<h4>The sortable list will be here.</h4>
<h2>For now, here are the applications by applicant id:</h2>
<% @applicants.each do |a| %>
  <%= link_to "#{a.id}", "/admins/view/#{a.id}" %><br>
<% end %>
