<h1>My Ratings</h1>

<a href="/admins" class="btn btn-primary btn-lg">View All Applications</a>

<% @ratings.each do |rating| %>
  <%= rating %>
<% end %>

<h4>Rated Applications in Sortable List</h4>
