<% if @applicant.archived? %>
  <p><i><b>This application has been archived and will not move forward</b></i></p>
<% end %>

<h1>View Application</h1>

<% @answers.each do |answer| %>
<p><b><%= answer.question.question_text %> :</b> <br>
<%= answer.answer_text %></p>
<% end %>


<% if @super_admin && !@applicant.archived? %>
<%= link_to "Archive Application", "/admins/archive/#{@applicant.id}", :method => 'put' %><br>
<% end %>
