<div class="jumbotron">
  <center>
  <h1>Welcome To Fast-Pitch</h1>
  <h2>Start up your Nonprofit Business</h2>
  <h3>Sign up to start an application</h3>
  <p><a href="/applicants/sign_up">Sign Up Today</a></p>
  </center>
</div>
