<!-- <div class="jumbotron">
  <center>
  <h1>Welcome To Fast-Pitch</h1>
  <p><h3>Fast Pitch is a two-month communications program
  culminating in showcase event on April 26, 2017, where finalists compete
  for cash and pro bono prizes worth $30,000.</h3></p>
  <p><a href="/applicants/sign_up">Apply here</a></p>
  </center>
</div> -->


<div class="jumbotron">
  <h1>Welcome To Fast-Pitch</h1>
  <p>Fast Pitch is a two-month communications program
  culminating in showcase event on April 26, 2017, where finalists compete
  for cash and pro bono prizes worth $30,000.</p>
  <p><a href="/applicants/sign_up" class="btn btn-primary btn-lg">Apply here</a></p>
</div>
