<center><h2> Edit Answer </h2></center>

<%= form_tag "/answers/#{@answer.id}", method: :patch do %>
  <%= text_field_tag(
      :answer_text,
      params[:answer_text],
      placeholder: "#{@answer.answer_text}",
      class: "form-control"
  ) %>
  <%= submit_tag("Update Answer", class: "btn btn-info btn-lg") %>
<% end %>
