<h1>Apply To Fast Pitch</h1>
<p>Welcome to Fast Pitch!</p>
<h4>This year's deadline is <b></b></h4>
<p><i>Applications cannot be started or edited after the deadline.</i></p>
<br> <br>

<% if @applicant.answers.count <= 0%>
  <a href="/answers/new" class="btn btn-primary btn-lg">Start Application</a>
<% end %>

<%= render 'show' %>
