<h1>Apply To Fast Pitch</h1>

<% if @applicant.answers.count > 0%>
  <a href="/answers/edit" class="btn btn-primary btn-lg">Edit Application</a>
<% else %>
  <a href="/answers/new" class="btn btn-primary btn-lg">Start Application</a>
<% end %>

<a href="/sectors" class="btn btn-primary btn-lg">Choose your sector</a>
