<center><h2> Fast Pitch Application </h2></center>

<%= form_for :answers, url: { action: :create } do |f| %>
<% @questions.each do |question| %>
    <%= f.label(question.question_text) %> <br>
  <% if question.closed_question == true  %>
      <div class="radio">
        <label><input type="radio" name="optradio">Yes</label>
      </div>
      <div class="radio">
        <label><input type="radio" name="optradio">No</label>
      </div>
  <% else %>
      <%= f.text_area(question.id) %><br>
  <% end %>
  <br>
<% end %>

<div class="form-group">
  <%= f.submit "Submit", class: "btn btn-success" %>
</div>

<% end %>
