<% @answers.each do |answer| %>
  <p><b><%= answer.question.question_text %> :</b> <br>
  <%= answer.answer_text %></p>
  <% if current_applicant %>
    <%= link_to "Edit Answer", edit_answer_path(answer) %>
  <% end %>
<% end %>
