<form class="form-horizontal">
  <fieldset>
    <legend>Ratings</legend>
    <div class="form-group">
      <label for="inputAdministratorName" class="col-lg-2 control-label">Administrator's Name</label>
      <div class="col-lg-10">
        <input type="text" class="form-control" id="inputName" placeholder="Name">
      </div>
    </div>
    <div class="form-group">
      <label for="inputNonprofitOrganization" class="col-lg-2 control-label">Nonprofit Organization</label>
      <div class="col-lg-10">
        <input type="nonprofitorganization" class="form-control" id="inputNonprofitOrganization" placeholder="Nonprofit Organization Name">
      </div>
    </div>

<%= @questions.each do |q| %>
  <div><%= q.question %></div>
  <div><%=  q.answer %></div>
<% end %>

  <%= 5.times do %>
    <div class="form-group">
      <label for="select" class="col-lg-2 control-label">Ratings</label>
      <div class="col-lg-10">
        <select class="form-control" id="select">
          <option>1</option>
          <option>2</option>
          <option>3</option>
          <option>4</option>
          <option>5</option>
        </select>
        <br>
      </div>
    </div>
  <% end %>

    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default">Cancel</button>
        <button type="submit" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </fieldset>
</form>
