<div><%= @user.name %></div>
<%= @user.contact_name %>

<% @questions.each do |question| %>
<div><%= question.question %></div><br>
<% end %>

<!-- <% @user.answers.each do |answer| %>
<%=  @user.answer%>
<% end %> -->
